airr==1.3.1
beautifulsoup4==4.9.3
biopython==1.79
click==8.0.1
commonmark==0.9.1
Markdown==3.3.4
matplotlib==3.4.2
myst-parser==0.15.0
networkx==2.5.1
numpy==1.19.5
olga==1.2.4
pandas==1.2.4
readme-renderer==29.0
recommonmark==0.7.1
sonia==0.0.45
sonnia==0.0.8
Sphinx==4.0.2
sphinx-markdown-tables==0.0.15
sphinx-rtd-theme==0.5.2
tensorflow==2.6.1
tensorflow-estimator==2.6.0
urllib3==1.26.5
xarray==0.18.2
